{% extends "padrao.html" %}

{% block conteudo %}
    <section class="container mt-5 lead w-75 mx-auto">
        <h2 class="fw-bold">CIDADANIA</h2>
        <p>Esta seção é reservada especialmente para orientar a população sobre os principais documentos que todo cidadão brasileiro precisa ter. Entender para que servem, como emitir, renovar ou regularizar esses documentos é essencial para garantir seus direitos, acessar serviços públicos e exercer plenamente a cidadania.</p>
        <p>Nosso objetivo é facilitar o acesso à informação, ajudando a população de Irecê e região a se organizar melhor, evitando filas, dores de cabeça e informações desencontradas.</p>
        <p>Assim, será possível desenvolver uma instituição mais eficaz, responsável e transparente em todos os níveis, além de fornecer identidade legal a todos, incluindo o registro de nascimento das crianças, garantindo o direito fundamental à cidadania desde o início da vida.</p>

        <h4 class="fw-bold mt-5">Registro Geral (RG)</h4>
        <P>É o principal documento de identificação civil do brasileiro. Usado em quase todas as situações do dia a dia: abertura de contas, cadastros, matrículas, viagens, atendimentos no SUS, entre outros.</P>
        <P>Para tirar ou renovar vá no SAC mais próximo, com agendamento obrigatório apenas para serviços de RG. Basta acessar o sistema online de agendamento <a href="https://www.ba.gov.br/" target="_blank">BA.GOV.BR</a> ou se informar na unidade.</P>

        <h4 class="fw-bold mt-5">Cadastro de Pessoa Física (CPF)</h4>
        <p>É o número individual que identifica você na Receita Federal. Obrigatório para abrir contas, fazer compras online, se inscrever em concursos, fazer matrícula escolar e outros serviços essenciais.</p>
        <p>Para emitir ou regularizar:</p>
        <p>Site da <a href="https://www.gov.br/receitafederal/pt-br" target="_blank">Receita Federal</a></p>
        <p>Agências dos Correios, Banco do Brasil ou Caixa</p>

        <h4 class="fw-bold mt-5">Título de Eleitor</h4>
        <p>Esse é o documento que comprova sua inscrição eleitoral. Serve para Votar, se candidatar, emitir passaporte, assumir cargos públicos e muito mais.</p>
        <p class="fw-bold">Onde tirar ou atualizar?</p>
        <p>No Cartório Eleitoral ou pelo <a href="https://www.tse.jus.br/" target="_blank">site.</a></p>

        <h4 class="fw-bold mt-5">Carteira de Trabalho Digital (CTPS)</h4>
        <p>É o registro oficial da sua vida profissional. Essencial para contratos de trabalho, acesso ao FGTS, INSS, seguro-desemprego etc.</p>
        <p>Baixe gratuitamente o app Carteira de Trabalho Digital. Caso tenha dificuldade, o SAC pode ajudar no suporte.</p>

        <h4 class="fw-bold mt-5">Certidão de Nascimento</h4>
        <p>É o documento que registra legalmente o nascimento de uma pessoa. É o primeiro documento e base para emitir todos os outros. Você pode tirar Gratuita no cartório de registro civil onde ocorreu o nascimento.</p>

        <h4 class="fw-bold mt-5">Certidão de Casamento (ou União Estável)</h4>
        <p>É o documento que oficializa uma união entre duas pessoas. Requerido em processos de pensão, planos de saúde, INSS, herança, etc. É possível emitir no cartório de registro civil mais próximo.</p>

        <h4 class="fw-bold mt-5">Certidão de Óbito</h4>
        <p>Registro oficial do falecimento de uma pessoa. Necessário para inventários, pensões, cancelamentos de documentos e benefícios. Possível emitir no cartório, com base na declaração médica de óbito.</p>

        <h4 class="fw-bold mt-5">Comprovante de Residência</h4>
        <p>Documento informal que prova onde você mora. Conta de luz, água, telefone fixo no seu nome, ou declaração escrita e assinada pelo responsável do imóvel com cópia de um comprovante no nome dele</p>

        <h4 class="fw-bold mt-5">CNH (Carteira Nacional de Habilitação)</h4>
        <p>É o documento que permite ao cidadão dirigir veículos</p>
        <p class="fw-bold">Onde tirar ou renovar?</p>
        <p>No DETRAN</p>
        <p>Renovação também pode ser feita no SAC de Irecê, sem necessidade de agendamento</p>
        <p class="pb-5">A versão digital da CNH (e-CNH) também é aceita, desde que esteja acompanhada do QR Code</p>

    </section>
{% endblock %}